/* Your Website Styles*/
nav{
  margin-top: 10px;
  margin-bottom: 10px;
  background: #002434;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
}

body{
  background: #000;
}

h1{
  color: #3E3E40;
  background: #002434;
  margin-top: 100px;
}

img{
  margin-bottom: 100px;
  transition: transform 1s;

}

img:hover{
  transform: scaleY(3) scaleX(3);
  transition: transform 2s;

}

a, em{
  color: #3E3E40;
  margin-right: 50px;
}

a{
  text-decoration: none;
  font-family: 'Cardo', serif;

}

a:hover{
  color: white;
  font-family: 'Cardo:italic', serif;
  font-variant: small-caps;
}

/* Gallery Stying *
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
  position: absolute;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}